.dd-wrapper
  font-size: 1.6rem
  user-select: none
  position: relative
  width: 280px
  @media screen and (max-width: 1470px)
    width: 100%

  .dd-header
    padding: 8.5px 10px
    display: flex
    align-items: center
    justify-content: space-between
    line-height: 38px
    border: 1px solid white
    border-radius: 5px
    position: relative
    background-color: #263238
    outline: none
    color: white
    cursor: pointer
    
    @media screen and (max-width: 1470px)
      padding: 3.5px 13px
    &:focus
      outline: none
    &:hover
      border: 1px solid #2AAF9F
      background-color: #2AAF9F
      color: #ffffff
    &.open
      border-bottom: 0
      border-radius: 5px 5px 0 0
    &.active
      border: 1px solid #2AAF9F
      background-color: #2AAF9F
      color: #ffffff
    span
      margin-right: 5px
    svg 
      width: 16px
      position: absolute;
      right: 10px;

  .dd-header-title
    font-weight: 300
    font-size: 14.5px
    margin: 2px 5px
    margin-right: 12px

  .angle-down
    color: black
    margin-right: 20px

  .dd-list
    text-align: left
    z-index: 2
    position: absolute
    width: 100%
    border: 1px solid white
    border-top: none
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 5px
    background-color: #263238
    font-weight: 700
    padding: 0 0 10px
    max-height: 255px
    overflow-y: auto

  .dd-list-item
    width: 100%
    font-size: 1.3rem
    padding: 8px 10px
    line-height: 1.6rem
    display: inline-block
    white-space: nowrap
    text-overflow: ellipsis
    color: white
    outline: none
    cursor pointer
    .checkbox
      position: relative
      top: 0.2rem
      left: -0.35rem
      display: inline-block
      width: 1.5rem
      height: 1.5rem
      border: 1px solid
      border-radius: 0.2rem
      margin-right: 10px 
      &.checked::after
        content: '✔'
        color: white
        position: absolute
        top: -0.3rem
        left: .2rem
    &.selected
      color: white
      background-color: #2AAF9F

    &:hover
      color: white
      background-color: #2AAF9F

    &:focus
      outline: none
